// 颜色
$accentColor = #748ffc        // 强调色 原值-#3eaf7c(绿)   现值-靛蓝
$textColor = #2c3e50          // 文本色 灰黑
$borderColor = #dbe4ff        // 边框色 原值-#eaecef(淡灰) 现值-淡靛
$codeBgColor = #282c34        // 代码背景
$arrowBgColor = #ccc
$badgeTipColor = #42b983      // Badge 组件背景
$badgeWarningColor = darken(#ffe564, 35%) // Badge 组件背景
$badgeErrorColor = #DA5961  // Badge 组件背景
